@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

$primary-color: hsl(300, 43%, 22%);
$primary-secondary-color: hsl(333, 80%, 67%);

$primary-forecolor: hsl(303, 10%, 53%);
$secondary-forecolors: hsl(300, 24%, 96%);
$s2: hsl(0, 0%, 100%);
